In [3]:
import pandas as pd

In [29]:
csv_file = "data/Crimes_2001_to_Present.csv"
df = pd.read_csv(csv_file)

In [11]:
df.shape

(7846809, 22)

In [10]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11449702,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,...,5.0,41.0,18,NaN,NaN,2018,04/09/2019 04:24:58 PM,NaN,NaN,NaN
3,11643334,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,31.0,19.0,14,NaN,NaN,2018,04/04/2019 04:16:11 PM,NaN,NaN,NaN
4,11645527,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,23.0,56.0,11,NaN,NaN,2015,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7846809 entries, 0 to 7846808
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

In [15]:
df.isnull().sum()

ID                           0
Case Number                  4
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description     10758
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614849
Community Area          613476
FBI Code                     0
X Coordinate             88111
Y Coordinate             88111
Year                         0
Updated On                   0
Latitude                 88111
Longitude                88111
Location                 88111
dtype: int64

In [16]:
df.nunique()

ID                      7846809
Case Number             7846259
Date                    3236483
Block                     63085
IUCR                        404
Primary Type                 36
Description                 546
Location Description        217
Arrest                        2
Domestic                      2
Beat                        305
District                     24
Ward                         50
Community Area               78
FBI Code                     26
X Coordinate              79045
Y Coordinate             130214
Year                         23
Updated On                 5725
Latitude                 891352
Longitude                890764
Location                 892615
dtype: int64

## Dropping unused Columns
Drop: case number, primary type & description (dimension with IUCR PK), domestic, beat, ward, district OR community area, FBI CODE, x coordinate, y coordinate, location (11 columns)

In [32]:
# print(df.columns)
columns_to_drop = ['Case Number','Primary Type','Description','Domestic','Beat','Ward','Community Area','FBI Code','X Coordinate','Y Coordinate','Location']
df.drop(columns=columns_to_drop, inplace=True)

df.head()

,ID,Date,Block,IUCR,Location Description,Arrest,District,Year,Updated On,Latitude,Longitude
0,11646166,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,RESIDENCE,False,6.0,2018,04/06/2019 04:04:43 PM,NaN,NaN
1,11645836,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,NaN,False,8.0,2016,04/06/2019 04:04:43 PM,NaN,NaN
2,11449702,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,STREET,True,2.0,2018,04/09/2019 04:24:58 PM,NaN,NaN
3,11643334,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,STREET,False,25.0,2018,04/04/2019 04:16:11 PM,NaN,NaN
4,11645527,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,OTHER,False,8.0,2015,04/06/2019 04:04:43 PM,NaN,NaN

## Modifying data

In [37]:
#Cambiar nombres de columnas para la subida a la base de datos
df.columns = ["id","date","block","iucr","location_desc","arrest","district","year","updated_on","latitude","longitude"]

# modificar la columna de fecha
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y %I:%M:%S %p').dt.strftime('%Y-%m-%d %H:%M:%S')
df['updated_on'] = pd.to_datetime(df['updated_on'], format='%m/%d/%Y %I:%M:%S %p').dt.strftime('%Y-%m-%d %H:%M:%S')

df.head()

,id,date,block,iucr,location_desc,arrest,district,year,updated_on,latitude,longitude
0,11646166,2018-09-01 00:01:00,082XX S INGLESIDE AVE,0810,RESIDENCE,False,6.0,2018,2019-04-06 16:04:43,NaN,NaN
1,11645836,2016-05-01 00:25:00,055XX S ROCKWELL ST,1153,NaN,False,8.0,2016,2019-04-06 16:04:43,NaN,NaN
2,11449702,2018-07-31 13:30:00,009XX E HYDE PARK BLVD,2024,STREET,True,2.0,2018,2019-04-09 16:24:58,NaN,NaN
3,11643334,2018-12-19 16:30:00,056XX W WELLINGTON AVE,1320,STREET,False,25.0,2018,2019-04-04 16:16:11,NaN,NaN
4,11645527,2015-02-02 10:00:00,069XX W ARCHER AVE,1153,OTHER,False,8.0,2015,2019-04-06 16:04:43,NaN,NaN

In [34]:
df.tail()

,id,date,block,iucr,location_desc,arrest,district,year,updated_on,latitude,longitude
7846804,13128007,2023-06-21 20:00:00,031XX N CALIFORNIA AVE,1320,STREET,False,14.0,2023,2023-07-15 16:45:57,41.937926,-87.697782
7846805,13129172,2023-06-20 04:00:00,028XX N MAPLEWOOD AVE,0460,RESIDENCE,False,14.0,2023,2023-07-15 16:45:57,41.932798,-87.691589
7846806,13128066,2023-06-06 15:42:00,018XX N LOCKWOOD AVE,1752,APARTMENT,False,25.0,2023,2023-07-15 16:45:57,41.914487,-87.758185
7846807,13128324,2023-05-13 12:00:00,020XX W CERMAK RD,1120,CURRENCY EXCHANGE,False,12.0,2023,2023-07-15 16:45:57,41.852166,-87.676455
7846808,13128375,2023-06-24 13:29:00,069XX N HAMILTON AVE,1330,RESIDENCE,False,24.0,2023,2023-07-15 16:45:57,42.008004,-87.683946