In [1]:
import pandas as pd
from sodapy import Socrata
import pandas as pd

In [2]:
client = Socrata("data.cityofchicago.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
# Domain and ID of the API: https://data.cityofchicago.org/resource/ijzp-q8t2.json

socrata_domain = 'data.cityofchicago.org'
socrata_dataset_identifier = 'ijzp-q8t2'

socrata_token = "jKv1yc9yFe9MARot6pnVYWThT" #You'll need to obtain your own API token from your Open Data Chicago account.

In [4]:
client = Socrata(socrata_domain, socrata_token, timeout=100)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

Domain: data.cityofchicago.org
Session: <requests.sessions.Session object at 0x000001BB360F96F0>
URI Prefix: https://

In [5]:
results = client.get(socrata_dataset_identifier)
df = pd.DataFrame.from_dict(results)
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4
0,13251588,JG473400,2023-10-22T00:00:00.000,003XX E ERIE ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,VEHICLE NON-COMMERCIAL,False,False,...,"{'latitude': '41.894220073', 'longitude': '-87...",22,21182,37,158,36,6,14,74,2
1,13251617,JG473436,2023-10-22T00:00:00.000,105XX S LA SALLE ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,"{'latitude': '41.702912522', 'longitude': '-87...",45,21861,45,524,22,19,10,256,11
2,13252026,JG473824,2023-10-22T00:00:00.000,024XX W FILLMORE ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,"{'latitude': '41.868422424', 'longitude': '-87...",11,21184,29,756,23,28,16,146,28
3,13257793,JG480896,2023-10-22T00:00:00.000,104XX S SACRAMENTO AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,False,...,"{'latitude': '41.703945289', 'longitude': '-87...",33,4447,73,256,42,33,9,254,19
4,13252358,JG474274,2023-10-22T00:00:00.000,034XX W 71ST PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,"{'latitude': '41.763380216', 'longitude': '-87...",6,21867,64,349,31,58,13,208,17

In [6]:
df.shape

(1000, 31)

By default, we can only retrieve 1000 records in each request. However, since we require all the most up-to-date records, we've implemented the following technique:

In [7]:
all_records = []

In [ ]:
#We will take the most recent records, i.e., those starting from record 7000000
offset = 7000000

# Set a batch size (the number of records to retrieve in each request)
batch_size = 1000


while True:

    results = client.get(socrata_dataset_identifier, limit=batch_size, offset=offset)
    
    if not results:
        break
    
    all_records.extend(results)
    
    offset += batch_size

print("Total records retrieved:", len(all_records))

In [27]:
len(all_records)

50635

In [22]:
df = pd.DataFrame(all_records)

In [23]:
df.shape

(50635, 31)

In [24]:
df.to_csv("data/new_data.csv", index=False)

In [12]:
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4
0,2490215,HH828219,2002-11-02T00:00:00.000,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,"{'latitude': '41.769231153', 'longitude': '-87...",32,22538,39,142,33,24,18,262,3
1,2432490,HH751126,2002-11-02T00:00:00.000,009XX N SACRAMENTO BLVD,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,...,"{'latitude': '41.898648713', 'longitude': '-87...",10,21560,24,150,49,4,15,64,36
2,2465178,HH792958,2002-11-02T00:00:00.000,021XX S CHINA PL,0840,THEFT,FINANCIAL ID THEFT: OVER $300,BANK,False,False,...,"{'latitude': '41.853969331', 'longitude': '-87...",8,21194,35,3,26,40,23,157,7
3,2432906,HH754101,2002-11-02T00:00:00.000,023XX N LINCOLN PARK WEST,0890,THEFT,FROM BUILDING,RESIDENCE PORCH/HALLWAY,False,False,...,"{'latitude': '41.924521686', 'longitude': '-87...",51,21190,68,207,34,16,14,134,43
4,2433869,HH754167,2002-11-02T00:00:00.000,031XX N WESTERN AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,"{'latitude': '41.938892966', 'longitude': '-87...",24,21538,46,110,20,39,5,172,47

In [25]:
df['date'].min()

'2023-07-15T08:00:00.000'

In [26]:
df['date'].max()

'2023-09-21T00:00:00.000'