In [4]:
import pandas as pd
from sodapy import Socrata
import pandas as pd

In [5]:
client = Socrata("data.cityofchicago.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [10]:
# Domain and ID of the API: https://data.cityofchicago.org/resource/ijzp-q8t2.json

socrata_domain = 'data.cityofchicago.org'
socrata_dataset_identifier = 'ijzp-q8t2'

socrata_token = "dSRObUzfL26kRQSv8taMQQDNf" #You'll need to obtain your own API token from your Open Data Chicago account.

In [11]:
client = Socrata(socrata_domain, socrata_token, timeout=100)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

Domain: data.cityofchicago.org
Session: <requests.sessions.Session object at 0x0000027EE67AF700>
URI Prefix: https://

In [12]:
results = client.get(socrata_dataset_identifier)
df = pd.DataFrame.from_dict(results)
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4
0,13240041,JG458435,2023-10-10T00:00:00.000,092XX S DAUPHIN AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,APARTMENT,False,True,...,"{'latitude': '41.727096769', 'longitude': '-87...",9,21546,40,429,35,61,20,248,10
1,13245996,JG466824,2023-10-10T00:00:00.000,008XX N LAKE SHORE DR,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,APARTMENT,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13238380,JG457523,2023-10-10T00:00:00.000,030XX W WELLINGTON AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,"{'latitude': '41.935703007', 'longitude': '-87...",15,21538,22,465,20,39,7,174,35
3,13238859,JG458132,2023-10-10T00:00:00.000,024XX N PARKSIDE AVE,031A,ROBBERY,ARMED - HANDGUN,SIDEWALK,False,False,...,"{'latitude': '41.924622979', 'longitude': '-87...",27,22615,19,58,21,2,6,133,30
4,13238993,JG458124,2023-10-10T00:00:00.000,063XX S VERNON AVE,0930,MOTOR VEHICLE THEFT,THEFT / RECOVERY - AUTOMOBILE,ALLEY,False,False,...,"{'latitude': '41.779806892', 'longitude': '-87...",53,22260,9,332,4,60,18,277,20

In [13]:
df.shape

(1000, 31)

By default, we can only retrieve 1000 records in each request. However, since we require all the most up-to-date records, we've implemented the following technique:

In [6]:
all_records = []

In [7]:
#We will take the most recent records, i.e., those starting from record 7000000
offset = 7000000

# Set a batch size (the number of records to retrieve in each request)
batch_size = 1000


while True:

    results = client.get(socrata_dataset_identifier, limit=batch_size, offset=offset)
    
    if not results:
        break
    
    all_records.extend(results)
    
    offset += batch_size

print("Total records retrieved:", len(all_records))

Total records retrieved: 899939

In [27]:
len(all_records)

50635

In [22]:
df = pd.DataFrame(all_records)

In [23]:
df.shape

(50635, 31)

In [24]:
df.to_csv("data_again.csv", index=False)

In [12]:
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4
0,2490215,HH828219,2002-11-02T00:00:00.000,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,"{'latitude': '41.769231153', 'longitude': '-87...",32,22538,39,142,33,24,18,262,3
1,2432490,HH751126,2002-11-02T00:00:00.000,009XX N SACRAMENTO BLVD,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,...,"{'latitude': '41.898648713', 'longitude': '-87...",10,21560,24,150,49,4,15,64,36
2,2465178,HH792958,2002-11-02T00:00:00.000,021XX S CHINA PL,0840,THEFT,FINANCIAL ID THEFT: OVER $300,BANK,False,False,...,"{'latitude': '41.853969331', 'longitude': '-87...",8,21194,35,3,26,40,23,157,7
3,2432906,HH754101,2002-11-02T00:00:00.000,023XX N LINCOLN PARK WEST,0890,THEFT,FROM BUILDING,RESIDENCE PORCH/HALLWAY,False,False,...,"{'latitude': '41.924521686', 'longitude': '-87...",51,21190,68,207,34,16,14,134,43
4,2433869,HH754167,2002-11-02T00:00:00.000,031XX N WESTERN AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,"{'latitude': '41.938892966', 'longitude': '-87...",24,21538,46,110,20,39,5,172,47

In [25]:
df['date'].min()

'2023-07-15T08:00:00.000'

In [26]:
df['date'].max()

'2023-09-21T00:00:00.000'