In [1]:
import pandas as pd
from sodapy import Socrata
import pandas as pd

In [2]:
client = Socrata("data.cityofchicago.org", None)
#client for public API, cwhen its private it needs credentials

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
socrata_domain = 'data.cityofchicago.org'
socrata_dataset_identifier = 'ijzp-q8t2'

# https://data.cityofchicago.org/resource/ijzp-q8t2.json

socrata_token = "enOd149TCTE7tGE6N02UW3DOc"

In [4]:
client = Socrata(socrata_domain, socrata_token, timeout=100)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

Domain: data.cityofchicago.org
Session: <requests.sessions.Session object at 0x000001CB4B5B1E70>
URI Prefix: https://

In [5]:
results = client.get(socrata_dataset_identifier)
df = pd.DataFrame.from_dict(results)
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4
0,13217805,JG432949,2023-09-21T00:00:00.000,058XX W ALTGELD ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,"{'latitude': '41.925726562', 'longitude': '-87...",4,22615,19,58,21,2,6,133,30
1,13220574,JG435752,2023-09-21T00:00:00.000,070XX N Sheridan Rd,0820,THEFT,$500 AND UNDER,STREET,False,False,...,"{'latitude': '42.010704854', 'longitude': '-87...",3,21853,10,267,5,9,11,37,49
2,13217794,JG432770,2023-09-21T00:00:00.000,008XX W ROSCOE ST,1360,CRIMINAL TRESPASS,TO VEHICLE,APARTMENT,False,False,...,"{'latitude': '41.943601618', 'longitude': '-87...",38,4449,57,731,25,22,5,28,44
3,13217795,JG432899,2023-09-21T00:00:00.000,031XX W HARRISON ST,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,POLICE FACILITY / VEHICLE PARKING LOT,False,False,...,"{'latitude': '41.873699424', 'longitude': '-87...",36,21184,28,737,14,28,16,140,24
4,13218479,JG433800,2023-09-21T00:00:00.000,105XX S INDIANA AVE,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,RESIDENCE,False,True,...,"{'latitude': '41.703003004', 'longitude': '-87...",30,21861,45,236,43,19,10,256,11

In [6]:
all_records = []

In [7]:
offset = 7000000

# Set a batch size (the number of records to retrieve in each request)
batch_size = 1000


while True:

    results = client.get(socrata_dataset_identifier, limit=batch_size, offset=offset)
    
    if not results:
        break
    
    all_records.extend(results)
    
    offset += batch_size

print("Total records retrieved:", len(all_records))

Total records retrieved: 899939

In [27]:
len(all_records)

50635

In [22]:
df = pd.DataFrame(all_records)

In [23]:
df.shape

(50635, 31)

In [24]:
df.to_csv("data_again.csv", index=False)

In [12]:
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4
0,2490215,HH828219,2002-11-02T00:00:00.000,069XX S CRANDON AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,"{'latitude': '41.769231153', 'longitude': '-87...",32,22538,39,142,33,24,18,262,3
1,2432490,HH751126,2002-11-02T00:00:00.000,009XX N SACRAMENTO BLVD,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,...,"{'latitude': '41.898648713', 'longitude': '-87...",10,21560,24,150,49,4,15,64,36
2,2465178,HH792958,2002-11-02T00:00:00.000,021XX S CHINA PL,0840,THEFT,FINANCIAL ID THEFT: OVER $300,BANK,False,False,...,"{'latitude': '41.853969331', 'longitude': '-87...",8,21194,35,3,26,40,23,157,7
3,2432906,HH754101,2002-11-02T00:00:00.000,023XX N LINCOLN PARK WEST,0890,THEFT,FROM BUILDING,RESIDENCE PORCH/HALLWAY,False,False,...,"{'latitude': '41.924521686', 'longitude': '-87...",51,21190,68,207,34,16,14,134,43
4,2433869,HH754167,2002-11-02T00:00:00.000,031XX N WESTERN AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,"{'latitude': '41.938892966', 'longitude': '-87...",24,21538,46,110,20,39,5,172,47

In [25]:
df['date'].min()

'2023-07-15T08:00:00.000'

In [26]:
df['date'].max()

'2023-09-21T00:00:00.000'

Los Datos más recientes:

In [15]:
# Set the initial offset to 0
offset = 0  # Cambia el valor inicial a 0

# Set a batch size (the number of records to retrieve in each request)
batch_size = 1000

# Initialize an empty list to store all the records
all_records = []

while offset < 50635:  # Cambia la condición para detenerse después de obtener 50,635 registros
    # Calcular cuántos registros quedan por obtener en esta iteración
    remaining_records = 50635 - offset
    # Establecer el límite de registros para esta solicitud como el mínimo entre batch_size y remaining_records
    limit = min(batch_size, remaining_records)
    
    # Fetch data for the current batch
    results = client.get(socrata_dataset_identifier, limit=limit, offset=offset)
    
    # Check if there are no more records
    if not results:
        break
    
    # Extend the list of all_records with the current batch
    all_records.extend(results)
    
    # Increment the offset for the next batch
    offset += limit  # Incrementar el offset por la cantidad de registros obtenidos en esta solicitud

# Now, all_records contains the first 50,635 records from the dataset
print("Total records retrieved:", len(all_records))

"""
Para la fila que toma el limit: 

Si batch_size es menor o igual a remaining_records, significa que todavía quedan suficientes 
registros por obtener para llenar una solicitud completa de batch_size, por lo que limit se establece en batch_size.
Si batch_size es mayor que remaining_records, significa que no quedan suficientes registros 
por obtener para llenar una solicitud completa de batch_size, por lo que limit se establece en remaining_records.
"""

Total records retrieved: 50635

'\nPara la fila que toma el limit: \n\nSi batch_size es menor o igual a remaining_records, significa que todavía quedan suficientes \nregistros por obtener para llenar una solicitud completa de batch_size, por lo que limit se establece en batch_size.\nSi batch_size es mayor que remaining_records, significa que no quedan suficientes registros \npor obtener para llenar una solicitud completa de batch_size, por lo que limit se establece en remaining_records.\n'

In [16]:
df = pd.DataFrame(all_records)
df.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4
0,13218359,JG433539,2023-09-21T00:00:00.000,114XX S UNION AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,...,"{'latitude': '41.686123758', 'longitude': '-87...",45,21861,45,486,22,19,9,258,21
1,13220574,JG435752,2023-09-21T00:00:00.000,070XX N Sheridan Rd,0820,THEFT,$500 AND UNDER,STREET,False,False,...,"{'latitude': '42.010704854', 'longitude': '-87...",3,21853,10,267,5,9,11,37,49
2,13222674,JG434826,2023-09-21T00:00:00.000,007XX N LA SALLE DR,0460,BATTERY,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,...,"{'latitude': '41.896013242', 'longitude': '-87...",22,4446,37,670,11,55,14,72,42
3,13219537,JG435105,2023-09-21T00:00:00.000,034XX W CULLOM AVE,0890,THEFT,FROM BUILDING,RESIDENCE,False,False,...,"{'latitude': '41.959301089', 'longitude': '-87...",2,21538,16,56,12,39,1,9,33
4,13217762,JG432890,2023-09-21T00:00:00.000,0000X S COLUMBUS DR,0920,MOTOR VEHICLE THEFT,ATTEMPT - AUTOMOBILE,STREET,False,False,...,"{'latitude': '41.881776822', 'longitude': '-87...",22,14309,38,580,36,34,22,87,42

In [17]:
df['date'].min()

'2023-07-15T08:00:00.000'

In [18]:
df['date'].max()

'2023-09-21T00:00:00.000'